.section-customer-edit {
    .edit-btn {
        width: 120px;
        margin-right: 25px;
    }

    .note-section {
        padding-top: 7px;
        font-size: 12px;
        color: #8e6e6e;
    }
    .btn-submit{
        padding: 15px;
        text-align: center;
        button{
            width: 120px;
            font-size: 20px
        }
    }
}