.header-content{
   
    background-color: #373333;
    color: #ffffff;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arial', sans-serif;
    
}