.section_userlist {


    .icon-style {
        cursor: pointer;
        font-size: 25px;
        padding: 5px;
    }

    select {
        width: 70px;
        text-align: center;
        margin-right: 25px;
    }

}